footer{
    text-align: center;
    background-color: var(--blanco);
}
footer h2 i{
    color: var(--celeste);
    font-size: 40px;
    padding: 50px 0 15px;
}
footer article h4{
    color: var(--grisoscuro);
    font-size: var(--descripciones);
}
footer article{
    font-size: var(--cuerposDeTexto);
    padding: 0 50px 50px ;
}
footer article:last-child{
    text-align: start;
    padding: 0 15px 20px;
}