header{
    background-color: var(--amarillo);
    padding-bottom: 30px;
}
header .encabezado{
    width: 100%;
    display: flex;
    align-items: center;
}
header .logo{
    width: 50%;
    height: 100%;
    margin: 25px 0
}
header .cajaBarraBusqueda{
    width: 50%;
}
header .barraBusqueda{
    background-color: white;
    display: flex;
    border-radius: 5px;
    margin: 0 20px;
    overflow: hidden;
    padding-right: 5px;
    max-width: 250px;
}
header .barraBusqueda input{
    background-color: var(--blanco);
    padding: 5px;
    border: none;
    width: 90%;
}
header #lupa{
    background-color: var(--blanco);
}
header .barraBusqueda button{
    padding: 5px;
    border: none;
}
header h1{
    font-size: var(--cuerposDeTexto);
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
}
header ul a{
    text-decoration: none;
    color: var(--negro);
    font-size: var(--cuerposDeTexto);
}
header i{
    font-weight: bold;
}
.navbar{
    display: none;
    margin: 20px 0;
}
header .loginbar{
    display: none;
}
header .menu{
    padding: 10px;
    text-align: center;
    display: block;
    margin: 30px auto 0;
    background-color: var(--celeste);
    font-size: 24px;
    color: var(--blanco);
    border-radius: 5px;
    border: none;
    width: 46px;
}
@media (min-width:461px){
    header .encabezadoTablet{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    header .encabezadoTablet .encabezado{
        width: 60%;
    }
    header .encabezadoTablet h1{
        width: 30%;
    }
    header .encabezadoTablet .encabezado .barraBusqueda{
        margin: 0;
    }
    header .cajaBarraBusqueda{
        margin-left: 30px;
    }
    header .navbar{
        display: block;
    }
    header .loginbar{
        display: block;
    }
    header .menu{
        display: none;
    }
    header .divNavbar{
        display: flex;
        justify-content: space-between;
    }
    header .divNavbar .navbar, header .divNavbar .loginbar{
        width: 30%;
    }
    header .divNavbar .navbar ul, header .divNavbar .loginbar ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
    }
}
@media (min-width:769px){
    header .navbar{
        display: block;
    }
    header .loginbar{
        display: block;
    }
    header .menu{
        display: none;
    }
    header .cajaBarraBusqueda{
        margin-left: 80px;
    }
}