header{
    background-color: var(--amarillo);
    padding-bottom: 30px;
}
header .logo{
    height: 40px;
    margin: 25px 0
}
header .barraBusqueda input{
    background-color: var(--blanco);
    padding: 3px;
    border: 1px solid var(--grisoscuro);
    border-radius: 2px;
    margin-left: 20px;
}
header #lupa{
    background-color: var(--blanco);
}
header .barraBusqueda button{
    padding: 3px;
    border: 1px solid var(--grisoscuro);
    border-radius: 2px;
    margin: 1px 0 0 0;
}
header h1{
    font-size: var(--cuerposDeTexto);
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
}
header ul a{
    text-decoration: none;
    color: var(--negro);
    font-size: var(--cuerposDeTexto);
}
header i{
    font-weight: bold;
}
.navbar{
    display: none;
    margin: 20px 0;
}
header .loginbar{
    display: none;
    margin-bottom: 20px;
}
header .menu{
    padding: 10px;
    text-align: center;
    display: block;
    margin: 30px auto 0;
    background-color: var(--celeste);
    font-size: 24px;
    color: var(--blanco);
    border-radius: 5px;
    border: none;
    width: 46px;
}
@media (min-width:461px){
    header .navbar{
        display: block;
    }
    header .loginbar{
        display: block;
    }
    header .menu{
        display: none;
    }
}
@media (min-width:769px){
    header .navbar{
        display: block;
    }
    header .loginbar{
        display: block;
    }
    header .menu{
        display: none;
    }
}