body{
    background-color: var(--grisclaro);
}
main{
    width: 90%;
    margin: 0 auto;
}
main .banner{
    display: none;
}
main section{
    padding: 20px 0;
}
main section h2{
    font-size: var(--titulares);
    color: var(--grisoscuro);
}
main section article{
    background-color: var(--blanco);
    margin-top: 10px;
}
main section article:last-child{
    padding-bottom: 0;
}
main section article:first-child{
    padding: 0;
}
main section article image{
    width: 100%;
}
main section article .caja{
    border-top: 1px solid var(--grisclaro);
    padding: 15px;
    position: relative;
}
main section article .caja #truck{
    color: var(--verde);
    display: block;
    font-size: var(--cuerposDeTexto);
    padding: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--verde);
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
   }
main section article .caja .texto{
    display: flex;
}
main section article .precio{
    font-size: var(--precios);
    flex-grow: 0.3;
}
main section article .oferta{
    font-size: var(--descuentos);
    color: var(--verde);
    flex-grow: 0.7;
}
main section article h4{
    font-size: var(--descuentos);
    font-weight: 400;
    color: var(--grisoscuro);
    margin-top: 20px;
    display: none;
}

/* Tablet */
@media (min-width:461px) {
    main section .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    main section .productos article{
        width: 45%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    main section article h4{
        display: block;

    }
    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

/* Laptop */
@media (min-width:769px) {
    main section .productos article{
        width: 20%;
    }
}